<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Tab 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->
<!-- <ion-menu contentId="main-content" side="start">
  <ion-header>
    <ion-toolbar class="custom-toolbar">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-grid class="cards-row stats-cards-row">
      <ion-row>
        <ion-col size="12" size-sm="6" size-md="4" *ngFor="let card of cards">
          <ion-card
            [style.background]="card.color"
            class="stat-card custom-card"
          >
            <ion-card-content>
              <div class="card-top">
                <div class="card-info">
                  <div class="stat-label">{{ card.title }}</div>
                  <div class="stat-value">{{ card.value || 0 }}</div>
                </div>
                <div class="stat-icon">{{ getCardIcon(card.title) }}</div>
              </div>
              <div class="card-bottom">
                {{ card.actionLabel || '' }} <span class="arrow">➔</span>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-menu> -->
<!-- <ion-menu-button></ion-menu-button> -->

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="custom-toolbar">
      <ion-title>🏠 HMS Dashboard</ion-title>
      <!-- <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
          Logout
        </ion-button>
      </ion-buttons> -->

      <ion-button
        aria-label="Logout"
        color="danger"
        slot="end"
        (click)="logout()"
      >
        <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <!-- <ion-tab-button tab="tab1" href="/tabs/tab1">
          <ion-icon name="triangle"></ion-icon>
          <ion-label>Tab 1</ion-label>
        </ion-tab-button> -->

        <!-- <ion-tab-button tab="tab2" href="/tabs/tab2">
          <ion-icon name="ellipse"></ion-icon>
          <ion-label>Tab 2</ion-label>
        </ion-tab-button> -->

        <ion-tab-button tab="tab3" href="/tabs/tab3">
          <ion-icon
            name="squar 
           e"
          ></ion-icon>
          <ion-label>Tab 3</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</div>
